NODE_ENV=development

DB_HOST=localhost
DB_PORT=5434
DB_USER=mysouschef
DB_PASSWORD=mysouschef_password
DB_NAME=mysouschef

REDIS_HOST=localhost
REDIS_PORT=6379

ANTHROPIC_API_KEY=
CALORIE_NINJAS_API_KEY=
